---
import Layout from '../layouts/Layout.astro'
import ProjectList from '@/components/ProjectList.astro'
import ProjectDatas from '@/data.json'
---
<Layout title="Projects">
    <div class="flex flex-col gap-2 px-4 pb-8 md:pb-0">
        {ProjectDatas.map((item) => {
            return (
                <ProjectList 
                    id={item.id} 
                    title={item.title}
                    type={item.type}
                    view={item.view ? item.view : ''}
                    tech={item.tech} 
                    urlGithub={item.urlGithub} 
                    urlDemo={item.urlDemo} 
                    urlImage={item.images[0] ? item.images[0].src : ''}
                    desc={item.desc}
                />
            )
        })}
    </div>
</Layout>