---
import "@coreui/icons/css/all.css"
import truncate from 'truncate'
import { 
    FaReact,
    FaLaravel,
    FaNode,
    FaHtml5,
    FaCss3Alt,
    FaBootstrap
} from "react-icons/fa";
import {
    SiTailwindcss,
    SiCodeigniter,
    SiGnubash,
    SiVuedotjs,
    SiJavascript,
    SiMysql,
    SiSequelize,
    SiAstro,
    SiLinux,
    SiFlask
} from "react-icons/si"

interface Props {
    id: string;
    title: string;
    type: string;
    view?: string;
    tech?: Array<any>;
    desc?: string;
    urlGithub?: string;
    urlDemo?: string;
    urlImage?: string;
}

const {
    id,
    title,
    type,
    view,
    tech,
    desc,
    urlGithub,
    urlDemo,
    urlImage,
} = Astro.props

const isMobile = view == 'mobile' ? true : false

const slug = (title?.toLowerCase()).replace(/\s/g, '-')
const trunctDescMobile = desc ? truncate(desc ,100) : ''
const trunctDescDesktop = desc ? truncate(desc ,500) : ''
---

<div id={`wrapper-${id}`} class="wrapper relative">
    <a class="block p-2 border-b w-full text-white" href={`/projects/${slug}`}>
        <div class="flex justify-between items-center">
            <span class="text-2xl md:text-3xl">{title}</span>
            <span class="text-xl">{type}</span>
        </div>
    </a>

    <div class="popup flex flex-col absolute right-0 border-4 rounded-lg text-white">
        {isMobile ? 
        <div class="border-b-4 rounded-b-lg w-full h-[180px] md:h-[240px] bg-dark-1 overflow-hidden">
            <img src={urlImage || '/default-image-project.png'} class="h-full mx-auto"/>
        </div> : 
        <div class="flex items-center border-b-4 rounded-b-lg w-full h-[180px] md:h-[240px] bg-dark-1 overflow-hidden">
            <img src={urlImage || '/default-image-project.png'} class="w-full"/>
        </div>
        }
        <div class="wrapper-body flex flex-col p-3 md:p-5 gap-7 overflow-y-auto">
            <div class="flex flex-col gap-5">
                <div class="flex flex-col gap-7">
                    <div class="flex flex-col md:flex-row md:items-baseline gap-1">
                        <h1 class="text-2xl">{title}</h1>
                        <p class="text-base">({type} project)</p>
                    </div>
                    <div class="flex flex-col gap-2">
                        <p class="text-lg text-bold">Desc:</p>
                        <p id="truncMobile" class="block md:hidden text-justify text-base md:text-sm" set:html={trunctDescMobile} />
                        <p id="truncDesktop" class="hidden md:block text-justify text-base md:text-sm" set:html={trunctDescDesktop} />
                    </div>
                </div>
                <div id="tech" class="flex flex-col md:flex-row md:items-start gap-2">
                    <p class="text-lg text-bold">Tech:</p>
                    <div class="flex flex-wrap items-center gap-3">
                        {tech?.map((item) => {
                            const label = item.charAt(0).toUpperCase() + item.slice(1)
                            switch(item){
                                case 'react':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaReact />
                                            </span>
                                            <span class="label">
                                                {label}
                                            </span>
                                        </div>
                                case 'nodejs':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaNode />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'laravel':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaLaravel />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'html':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaHtml5 />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'css':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaCss3Alt />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'bootstrap':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><FaBootstrap />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'tailwind':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiTailwindcss />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'codeigniter':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiCodeigniter />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'bash':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiGnubash />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'vue':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiVuedotjs />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'javascript':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiJavascript />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'mysql':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiMysql />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'sequelize':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiSequelize />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'astro':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiAstro />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'linux':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiLinux />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                case 'flask':
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2"><SiFlask />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                                default:
                                    return <div class="flex items-center gap-2">
                                        <span class="text-light-2">
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                            }
                        })}
                    </div>
                </div>
            </div>
            <div id="url" class="flex items-center justify-between md:justify-start md:gap-7">
                <a href={urlGithub} target="blank" class="flex gap-3 md:gap-5 px-3 py-1 md:px-6 md:py-3 border border-[#B6EADA] rounded-2xl text-light-2">
                    <i class="cib-github text-lg md:text-2xl"></i>
                    <span>Code</span>
                </a>
                {urlDemo && <a href={urlDemo} target="blank" class="flex gap-3 md:gap-5 px-3 py-1 md:px-6 md:py-3 border border-[#B6EADA] rounded-2xl text-light-2">
                        <i class="cil-media-play text-lg md:text-2xl"></i>
                        <span>Demo</span>
                    </a>
                }
            </div>
        </div>
    </div>
</div>

<style define:vars={{width: isMobile ? '50%' : '75%'}}>
    div.wrapper > a + div {
        background-color: #03001C;
        transition: width;
        transition-timing-function: ease-in-out;
        transition-duration: 300ms;
        width: 0;
        height: fit-content;
        visibility: hidden;
        opacity: 0;
    }

    div.wrapper > a:hover {
        color: #B6EADA;
        border-bottom: 1px solid #B6EADA;
    }

    div.wrapper:hover > a + div{
        z-index: 100;
        width: var(--width);
        visibility: visible;
        opacity: 1;

    }

    .popup > div:first-child{
        transition: all;
        transition-duration: 300ms;
        transition-timing-function: ease;
    }

    .popup > div:first-child:hover {
        height: 380px;
    }

    

    div#url > a {
        /* background-color: #03001C; */
        box-shadow: 4px 4px #B6EADA;
    }

    div#tech span {
        font-size: 28px;
    }

    div#tech span.label {
        font-size: 16px;
    }


    @media screen and (max-width: 425px){
        div.wrapper:hover > a + div{
            z-index: 100;
            width: 75%;
            visibility: visible;
            opacity: 1;
        }

        .wrapper-body {
            height: 200px;
        }
        .wrapper-body::-webkit-scrollbar {
            display: hidden;
        }

        .popup > div:first-child:hover {
            height: 200px;
        }

        div#tech span {
            font-size: 20px;
        }

        div#tech span.label {
            font-size: 14px;
        }

        div#url > a {
        /* background-color: #03001C; */
            box-shadow: 2px 2px #B6EADA;
        }
    }
</style>
<script define:vars={{ id }}>
    const wrapper = document.querySelector(`#wrapper-${id}`)
    const wrapperA = document.querySelector(`#wrapper-${id} > a`)
    wrapper?.addEventListener('mouseover', function() {
        const popup = document.querySelector(`#wrapper-${id} > a + div`)
        const wY = Math.floor(wrapperA?.getBoundingClientRect().y)
        popup.style.top = `-${wY}px`
        console.log(popup.style.top)
    })
</script>