---
import { 
    FaReact,
    FaLaravel,
    FaNode,
    FaHtml5,
    FaCss3Alt,
    FaBootstrap
} from "react-icons/fa";
import {
    SiTailwindcss,
    SiCodeigniter,
    SiGnubash,
    SiVuedotjs,
    SiJavascript,
    SiMysql,
    SiSequelize,
    SiAstro,
    SiLinux,
    SiFlask
} from "react-icons/si"

import Layout from '@/layouts/Layout.astro'
import projectDatas from '@/data.json'

export function getStaticPaths() {
  return projectDatas.map((item) => {
    const slug = ((item.title).toLowerCase()).replace(/\s/g, '-')
    return {params: {project: slug}}
  })
}

const { project } = Astro.params;

const data = projectDatas.filter((item) => {
    const slug = ((item.title).toLowerCase()).replace(/\s/g, '-')
    if(slug === project){
        return item
    }
})[0]
---
<Layout title={data.title || ''}>
    <div class="flex flex-col gap-6 p-4">
        <div class="flex justify-between items-center text-white">
            <div class="flex flex-col md:flex-row md:items-baseline gap-1">
                <h1 class="text-2xl">{data.title}</h1>
                <p class="text-base">({data.type} project)</p>
            </div>
            <div id="url" class="flex flex-col md:flex-row items-center justify-between md:justify-start gap-2 md:gap-7">
                <a href={data.urlGithub} target="blank" class="flex gap-3 md:gap-5 px-3 py-1 md:px-6 md:py-3 border border-[#B6EADA] rounded-2xl text-light-2">
                    <i class="cib-github text-lg md:text-2xl"></i>
                    <span>Code</span>
                </a>
                {data.urlDemo && <a href={data.urlDemo} target="blank" class="flex gap-3 md:gap-5 px-3 py-1 md:px-6 md:py-3 border border-[#B6EADA] rounded-2xl text-light-2">
                        <i class="cil-media-play text-lg md:text-2xl"></i>
                        <span>Demo</span>
                    </a>
                }
            </div>
        </div>
        <div class="flex flex-col md:flex-row text-white gap-4 w-full">
            <div id="tech" class="flex flex-col md:items-start gap-2 md:w-1/4">
                <p class="text-lg text-bold">Tech:</p>
                <div class="flex flex-wrap items-center gap-3">
                    {data.tech?.map((item) => {
                        const label = item.charAt(0).toUpperCase() + item.slice(1)
                        switch(item){
                            case 'react':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaReact />
                                        </span>
                                        <span class="label">
                                            {label}
                                        </span>
                                    </div>
                            case 'nodejs':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaNode />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'laravel':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaLaravel />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'html':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaHtml5 />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'css':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaCss3Alt />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'bootstrap':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><FaBootstrap />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'tailwind':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiTailwindcss />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'codeigniter':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiCodeigniter />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'bash':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiGnubash />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'vue':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiVuedotjs />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'javascript':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiJavascript />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'mysql':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiMysql />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'sequelize':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiSequelize />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'astro':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiAstro />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'linux':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiLinux />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            case 'flask':
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2"><SiFlask />
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                            default:
                                return <div class="flex items-center gap-2">
                                    <span class="text-light-2">
                                    </span>
                                    <span class="label">
                                        {label}
                                    </span>
                                </div>
                        }
                    })}
                </div>
            </div>
            <div class="flex flex-col gap-2 md:border-l md:pl-4 w-full">
                <p class="text-lg text-bold">Desc:</p>
                <p class="text-justify text-base md:text-sm" set:html={data.desc} />
            </div>
        </div>        
    </div>
    <div id={`project-images-${data.id}`} class="project-images w-full overflow-x-auto py-5">
        <div class="flex gap-5 ml-4 w-fit pr-4">
            {data.images.map((item) => {
                const view = data.view ? data.view : ''
                if(view == 'mobile'){
                    return (
                        <div class="flex flex-reverse w-[320px] h-[270px] md:w-[620px] md:h-[500px] border-4 rounded-xl overflow-hidden">
                            <div class="w-full md:h-[350px]">
                                <img src={item.src} alt={item.alt} class="w-full"/>
                            </div>
                            <p class="w-full text-white text-sm p-2 border-l-4" set:html={item.desc} />
                        </div>
                    )
                }
                return ( 
                        <div class="flex flex-col w-[400px] h-[380px] md:w-[620px] md:h-[500px] border-4 rounded-xl overflow-hidden">
                            <div class="flex justify-center w-full h-[250px] md:h-[350px] border-b-4">
                                <img src={item.src} alt={item.alt} class="h-full"/>
                            </div>
                            <p class="text-white p-2" set:html={item.desc} />
                        </div>
                )
            })}
        </div>
    </div>

</Layout>

<style>
    div#tech span {
        font-size: 28px;
    }

    div#tech span.label {
        font-size: 16px;
    }

    @media screen and (max-width: 425px){
        div#tech span {
            font-size: 24px;
        }

        div#tech span.label {
            font-size: 14px;
        }

        div#url > a {
        /* background-color: #03001C; */
            box-shadow: 2px 2px #B6EADA;
        }

    }

    .project-images::-webkit-scrollbar {
        display: none;
    }
    
</style>

<script define:vars={{ id: data.id}}>
    const projectImages = document.getElementById('project-images-'+ id)
    projectImages?.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        projectImages.scrollLeft += evt.deltaY;
    });
</script>